/* CUSTOM PROPS */
:root {
  --primary-bg-color: #fff;
  --secondary-bg-color: #ff7400;
  --text-color: #000;
  --text-grey: #2c2c2c;
  --text-light-grey: #656363;
  --text-brown: #bc9060;
  --secondary-text-color: #d67e35;
}

/* GLOBAL */
html {
  scroll-behavior: smooth;
  height: 100%;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px dashed var(--text-color);
  outline-offset: 3px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--text-color);
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
}

/* SCROLL BAR */
::-webkit-scrollbar {
  @media only screen and (min-width: $tablet) {
    width: 12px;
  }
}

::-webkit-scrollbar-track {
  @media only screen and (min-width: $tablet) {
    border-radius: 8px;
    box-shadow: inset 0 0 5px grey;
  }
}

::-webkit-scrollbar-thumb {
  @media only screen and (min-width: $tablet) {
    background: rgb(110, 110, 110);
    border-radius: 10px;

    &:hover {
      background: rgb(110, 110, 110);
    }
  }
}

/* VISUALLY HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* MAIN CONTENT */
.main-content {
  flex-grow: 1;
}

/* BUTTON */
.button {
  --text-color: #fff;
  display: inline-block;
  border: none;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  font-weight: 700;
  font-size: 14px;
  padding: 14px 18px;
}
