@import "variables";
@import "fonts";
@import "common";
@import "container";

// BLOCKS
@import "blocks/header";
@import "blocks/hero";
@import "blocks/categories";
@import "blocks/about";
@import "blocks/foods";
@import "blocks/footer";
