.cookers {
  padding: 100px 0 20px;
}

.cookers__title {
  @include block-title;
  margin-bottom: 105px;
}

.cookers__card {
  cursor: pointer;
}

.cookers__image {
  max-width: 350px;
  width: 100%;
  height: auto;
}
