.gallery {
  padding: 100px 0 0;
}

.gallery__title {
  @include block-title;
  margin-bottom: 60px;
}

.gallery__inner {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: 274px 274px;
  grid-gap: 30px;
  grid-auto-flow: column;

  @media only screen and (max-width: $desktop) {
    grid-template-columns: auto auto auto;
  }

  @media only screen and (max-width: $desktop) {
    grid-template-columns: auto auto;
  }

  @media only screen and (max-width: $tablet-l) {
    grid-template-rows: auto auto auto auto;
  }

  @media only screen and (max-width: $mobile) {
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
}
.gallery__item-img {
  max-width: 100%;
  width: 100%;
  height: 274px;
  object-fit: cover;

  &:first-child {
    grid-column: 1 / span 2;

    @media only screen and (max-width: $mobile) {
      grid-column: 1 / span 1;
    }
  }

  &:nth-child(6) {
    grid-column: 3 / span 2;
    grid-row: 2;

    @media only screen and (max-width: $desktop) {
      grid-column: 2 / span 2;
    }

    @media only screen and (max-width: $tablet-l) {
      grid-column: 1 / span 2;
      grid-row: 3;
    }

    @media only screen and (max-width: $mobile) {
      grid-column: 1 / span 1;
    }
  }
}
