/* HEADER */
.site-header {
  min-height: 100vh;
  max-height: 100vh;
  --text-color: #fff;
  background: url("../images/hero-bg.png") no-repeat center / cover fixed;

  @media only screen and (max-width: $mobile) {
    --text-color: #000;
  }
}

.site-header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  transition: padding 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    padding: 40px 0;
  }

  @media only screen and (max-width: $tablet) {
    padding: 30px 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 25px 0;
  }
}

/* LOGO */
.logo {
  margin: 0;
  padding: 0;
}

.logo__link {
  text-decoration: none;
  display: flex;
}

.logo__img {
  max-width: 100px;
  width: 100%;
  height: auto;
  transition: max-width 0.5s ease;

  @media only screen and (max-width: $tablet-l) {
    max-width: 85px;
  }

  @media only screen and (max-width: $tablet-l) {
    max-width: 70px;
  }

  @media only screen and (max-width: $tablet) {
    max-width: 45px;
  }
}

/* SITE HEADER RIGHT */
.site-header__right {
  display: flex;
  align-items: center;
  gap: 40px;

  @media only screen and (max-width: $mobile) {
    gap: 0;
  }
}

/* SITENAV */

.sitenav-toggler {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  position: absolute;
  z-index: 101;
  top: 30px;
  right: 0;

  @media only screen and (max-width: $mobile) {
    display: flex;
    right: 20px;
    flex-direction: column;
    row-gap: 5px;

    &.show {
      position: absolute;
      top: 40px;
      right: 60px;
      + .sitenav {
        .sitenav__list {
          left: 0;
        }
      }

      .sitenav__toggler-inner {
        position: absolute;

        &:first-child {
          transform: rotateZ(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotateZ(-45deg);
        }
      }
    }
  }
}
.sitenav__toggler-inner {
  display: inline-block;
  width: 40px;
  height: 3px;
  border-radius: 10px;
  background-color: var(--secondary-bg-color);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sitenav__list {
  display: flex;
  align-items: center;
  gap: 22px;

  @media only screen and (max-width: $mobile) {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100vh;
    width: 65%;
    background-color: #fff;
    align-items: flex-start;
    padding: 50px 20px 0;
    flex-direction: column;
    gap: 0;
    row-gap: 5px;
    left: -100%;
    transition: left 0.5s ease;
  }
}

.sitenav__item {
  display: block;
  width: 100%;

  @media only screen and (max-width: $mobile) {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    }
  }
}

.sitenav__link {
  font-weight: 700;
  font-size: 14px;
  color: var(--text-color);

  @media only screen and (max-width: $tablet) {
    font-size: 13px;
  }

  @media only screen and (max-width: $mobile) {
    font-size: 16px;
    display: block;
    width: 100%;
    outline: none;
  }
}

/* SHOP */
.site-header-shop {
  border: none;
  background-color: transparent;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

/* VERTICAL LINE */
.vertical-line {
  height: 51px;
  width: 1px;
  background-color: var(--text-color);

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

/* PHONE */
.site-header__phone {
  max-width: 162px;

  @media only screen and (max-width: $tablet) {
    display: none;
  }
}

.site-header__phone-link {
  color: var(--text-color);
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 18px;
  transition: font-size 0.5s ease;

  &::before {
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../images/icon-phone.svg") no-repeat center / contain;
  }

  @media only screen and (max-width: $tablet-l) {
    font-size: 17px;
  }
}

.site-header__phone-text {
  color: var(--text-color);
  font-size: 14px;

  @media only screen and (max-width: $mobile) {
    font-size: 13px;
  }
}

.site-header__order-link {
  @media only screen and (max-width: $tablet-l) {
    display: none;
  }
}
